[build]
  base = "wireframe-app"
  command = "npm run build"
  publish = "wireframe-app/.next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200